:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* MUI styles */
.MuiButton-root.Button {
  background-color: #09090b;
  color: #e6ff2b;
  border-radius: 8px;
  padding: 12px 20px;
}

.MuiButton-root.Button:hover {
  background-color: #3f3f46;
}
