:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* MUI styles */
.MuiButton-root.Button {
  background-color: #84cc16;
  color: #000000;
  border-radius: 8px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

.MuiButton-root.Button:hover {
  background-color: #65a30d;
}
